--newServer({address="192.168.0.20", tcpRecvTimeout=10, tcpSendTimeout=10, checkType="A", checkName="www.google.com.", retries=5, weight=1})
--newServer({address="192.168.0.200", tcpRecvTimeout=10, tcpSendTimeout=10, checkType="A", checkName="www.google.com.", retries=5, weight=10})
--newServer({address="192.168.0.201", tcpRecvTimeout=10, tcpSendTimeout=10, checkType="A", checkName="www.google.com.", retries=5, weight=1})
--newServer({address="192.168.0.202", tcpRecvTimeout=10, tcpSendTimeout=10, checkType="A", checkName="www.google.com.", retries=5, weight=1})
--newServer({address="192.168.0.203", tcpRecvTimeout=10, tcpSendTimeout=10, checkType="A", checkName="www.google.com.", retries=5, weight=1})
--newServer({address="192.168.0.204", tcpRecvTimeout=10, tcpSendTimeout=10, checkType="A", checkName="www.google.com.", retries=5, weight=1})

newServer({address="192.168.0.200", checkType="A", checkName="www.google.com.", retries=5, weight=1})

-- addDelay(MaxQPSIPRule(100, 32, 48), 100)
-- addAction(MaxQPSIPRule(100), DropAction())
setKey("plaintext")
controlSocket("0.0.0.0")
setServerPolicy(wrandom)
webserver("127.0.0.1:8083", "1234")
