{% for host in groups['node_servers'] %}
newServer({address="{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:1053", checkType="A", checkName="google.com.", retries=3, weight=1, name="{{ hostvars[host]['server_name'] }}"})
{% endfor %}

setLocal("0.0.0.0:1053", true, true)
addLocal("0.0.0.0:1053", true, true)

setKey("plaintext")
controlSocket("127.0.0.1:8184")
setServerPolicy(roundrobin)
webserver("0.0.0.0:8084", "1234")