# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please see the documentation for further information on configuration options:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html>
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
#cluster.name: my-application
{% if elasticsearch_cluster_name is defined %}
cluster.name: {{ elasticsearch_cluster_name }}
{% endif %}
# Indexing operation settings
{% if elasticsearch_index_buffer_size is defined %}
indices.memory.index_buffer_size: {{ elasticsearch_index_buffer_size }}
{% endif %}

{% if elasticsearch_min_index_buffer_size is defined %}
indices.memory.min_index_buffer_size: {{ elasticsearch_min_index_buffer_size }}
{% endif %}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
#node.name: node-1
{% if elasticsearch_use_host_name_as_node_name %}
node.name: {{ ansible_hostname }}
{% elif elasticsearch_node_name is defined %}
node.name: {{ elasticsearch_node_name }}
{% endif %}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
#
# Allow this node to be a master(enabled by default):
#
# node.master: true
{% if elasticsearch_node_master is defined %}
node.master: {{ elasticsearch_node_master }}
{% endif %}
#
# Allow this node to store data (enabled by default):
#
# node.data: true
{% if elasticsearch_node_data is defined %}
node.data: {{ elasticsearch_node_data }}
{% endif %}
#
# Allow this node to ingest data (enabled by default):
#
# node.ingest: true
{% if elasticsearch_node_ingest is defined %}
node.ingest: {{ elasticsearch_node_ingest }}
{% else %}
node.ingest: false
{% endif %}

# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
#path.data: /path/to/data
{% if elasticsearch_data_dir is defined %}
path.data: {{ elasticsearch_data_dir }}
{% endif %}
#
# Path to log files:
#
#path.logs: /path/to/logs
{% if elasticsearch_log_dir is defined %}
path.logs: {{ elasticsearch_log_dir }}
{% endif %}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
bootstrap.memory_lock: true

{% if elasticsearch_max_compilations is defined %}
script.max_compilations_per_minute: {{ elasticsearch_max_compilations }}
{% endif %}

#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
#network.host: 192.168.0.1
{% if elasticsearch_network_host is defined %}
network.host: {{ elasticsearch_network_host }}
{% endif %}
#
# Set a custom port for HTTP:
#
#http.port: 9200
#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-network.html>
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
#discovery.zen.ping.unicast.hosts: ["host1", "host2"]
{% if elasticsearch_discovery_zen_ping_unicast_hosts is defined %}
discovery.zen.ping.unicast.hosts: {{ elasticsearch_discovery_zen_ping_unicast_hosts }}
{% endif %}
#
# Prevent the "split brain" by configuring the majority of nodes (total number of nodes / 2 + 1):
#
#discovery.zen.minimum_master_nodes: 3
discovery.zen.minimum_master_nodes: 1
#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery.html>
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, see the documentation at:
# <http://www.elastic.co/guide/en/elasticsearch/reference/current/modules-gateway.html>
#
# ---------------------------------- Various -----------------------------------
#
# Disable starting multiple nodes on a single system:
#
{% if elasticsearch_bulk_queue is defined %}
thread_pool.bulk.queue_size: {{ elasticsearch_bulk_queue }}
{% endif %}

{% if elasticsearch_index_queue is defined %}
thread_pool.index.queue_size: {{ elasticsearch_index_queue }}
{% endif %}
#node.max_local_storage_nodes: 1
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true
# Disable groovy scripting
script.engine.groovy.inline: false
script.engine.groovy.stored: false
script.engine.groovy.file: false

action.auto_create_index: .security,.monitoring*,.watches,.triggered_watches,.watcher-history*

{% if xpack_enabled %}
xpack.security.enabled: false
xpack.monitoring.enabled: true
xpack.graph.enabled: false
xpack.watcher.enabled: false
{% endif %}
